.input-class {
  width: 20px;
  margin: 5px;
}
.span-class {
  text-align: center;
  padding-left: 10px;
}
.create-button{
  width: 80px;
  height: 40px;
}

.button-class{
  width: 80px;
  height: 40px;
}
